// Name:            Autocomplete
// Description:     Component to create auto-suggest options
//
// Component:       `ap-autocomplete`
//
// Sub-objects:     `ap-autocomplete-list`
//
// Adopted:         `ap-autocomplete-list`
//
// States:          `ap-open`
//
// ========================================================================


// Variables
// ========================================================================

$autocomplete-margin-top:                               margin(small) !default;
$autocomplete-background:                               theme-color(inverse) !default;
$autocomplete-box-shadow:                               box-shadow(small) !default;
$autocomplete-border-width:                             border(border-width) !default;
$autocomplete-border-color:                             border(border-color) !default;
$autocomplete-border-radius:                            8px !default;
$autocomplete-z-index:                                  layer(dropdown) !default;

$autocomplete-list-item-padding-horizontal:             gutter(xsmall) !default;
$autocomplete-list-item-padding-vertical:               gutter(xsmall) !default;
$autocomplete-list-item-hover-background:               transparentize(theme-color(primary), 0.95) !default;



/* ==================================================
  Component: Autocomplete
 ================================================== */

/*
 * 1. Set display none as default
 * 2. Position
 * 3. Set dimension
 * 4. Add margin after of the element on top
 * 5. Style
 */
.ap-autocomplete{
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* 3 */
    height: auto;
    width: 100%;
    /* 4 */
    margin-top: $autocomplete-margin-top;
    /* 5 */
    background-color: $autocomplete-background;
    border: solid $autocomplete-border-width $autocomplete-border-color;
    border-radius: $autocomplete-border-radius;
    box-shadow: $autocomplete-box-shadow;
    z-index: $autocomplete-z-index;
}

/*
 * Open 
 */
.ap-autocomplete.ap-open{
    display: block;
}


/* List
   ================================================== */

/*
 * Removes the margin
 */
.ap-autocomplete-list{
    margin: 0;
    height: 400px;
    overflow-y: scroll;
}

/* List */
.ap-autocomplete-list > li{
    padding: $autocomplete-list-item-padding-vertical $autocomplete-list-item-padding-horizontal;
    cursor: pointer;
    border-bottom: 1px solid border(border-color);
}

/* Hover */
.ap-autocomplete-list > li:hover{
    background-color: $autocomplete-list-item-hover-background;
}