//  ==================================================
//  Name:               Button
//  Description:        Styles for buttons
//
//  Component:          `ap-button`
//                      `ap-button-outline`
//                      `ap-button-text`
//                      `ap-button-ghost` 
//
//  Sub-components:     `ap-button-group`
//                      `ap-floating-button`
//
//  Modifiers:          `ap-button-default`
//                      `ap-button-primary`
//                      `ap-button-secondary`
//                      `ap-button-warning`
//                      `ap-button-danger`
//                      `ap-button-outline-primary`
//                      `ap-button-outline-secondary`
//                      `ap-button-outline-warning`
//                      `ap-button-outline-danger`
//                      `ap-button-ghost-default`
//                      
//
//  States:             `active`
//  ==================================================

//  ==================================================
//  Variables
//  ==================================================

$button-line-height:                        control-height(medium) !default;
$button-small-line-height:                  control-height(small) !default;
$button-large-line-height:                  control-height(medium) !default;

$button-font-size:                          font(font-size) !default; 
$button-small-font-size:                    font-size(small) !default;
$button-large-font-size:                    font(font-size) !default;

$button-padding-horizontal:                 gutter(small) !default;
$button-small-padding-horizontal:           gutter(xsmall) !default;
$button-large-padding-horizontal:           gutter(large) !default;

$button-border-radius:                      border(border-radius) !default;
$button-border-width:                       border(border-width) !default;
$button-border-color:                       border(border-color) !default;

$button-disabled-background:                #D1D1D1 !default;
$button-disabled-color:                     color(default) !default;
$button-disabled-border-color:              $global-muted-background !default;

$button-text-line-height:                   font(line-height) !default;
$button-text-color:                         color(muted) !default;
$button-text-hover-color:                   color(default) !default;
$button-text-disabled-color:                color(muted) !default;

$button-link-color:                         link(base) !default;
$button-link-hover-color:                   link(dark) !default;
$button-link-line-height:                   font(line-height) !default;
$button-link-hover-text-decoration:         underline !default;
$button-link-disabled-color:                color(muted) !default;

$button-icon-width:                         $button-line-height !default;
$button-icon-background:                    darken(color(inverse), 10%) !default;
$button-icon-color:                         color(default);

$button-icon-primary-background:            lighten(color(primary), 10%) !default;
$button-icon-primary-color:                 color(inverse);

$button-icon-secondary-background:          lighten(color(secondary), 10%) !default;
$button-icon-secondary-color:               color(inverse);

$button-icon-success-background:            lighten(color(success), 10%) !default;
$button-icon-success-color:                 color(inverse);

$button-icon-warning-background:            lighten(color(warning), 10%) !default;
$button-icon-warning-color:                 color(inverse);

$button-icon-danger-background:             lighten(color(danger), 10%) !default;
$button-icon-danger-color:                  color(inverse);

/*
 * 1. Remove margins in Chrome, Safari, and Opera.
 * 2. Remove borders for `button`.
 * 3. Remove border-radius in Chrome.
 * 4. Address `overflow` set to `hidden` in IE.
 * 5. Correct `font` properties and `color` not being inherited for `button`.
 * 6. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 7. Style
 * 8. `line-height` is used to create a height because it also centers the text vertically for `a` elements.
 *      Better would be to use height and flexbox to center the text vertically but flexb ox doesn't work in Firefox on `button` elements.
 * 9. Align text if button has a width.
 * 10. Require for `a`.
 */

.ap-button{
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
    /* 3 */
    border-radius: $button-border-radius;
    /* 4 */
    overflow: visible;
    /* 5 */
    font: inherit;
    color: inherit;
    /* 6 */
    text-transform: none;
    /* 7 */
    display: inline-block;
    box-sizing: border-box;
    padding: 0 $button-padding-horizontal;
    vertical-align: middle;
    font-size: $button-font-size;
    /* 8 */
    line-height: $button-line-height;
    /* 9 */
    text-align: center;
    /* 10 */
    text-decoration: none;
    transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}

.ap-button:not(:disabled){
    cursor: pointer;
}

.ap-button:disabled{
    cursor: not-allowed;
}

/*
 * Remove the inner border and padding in Firefox
 */
.ap-button::-moz-focus-inner{
    border: 0;
    padding: 0;
}

/* Hover */
.ap-button:hover{
    /* 8 */
    text-decoration: none;
}

/* Focus */
.ap-button:focus{
    outline: none;
}

/*
 * Disabled
 * The same for all style modifiers
 */

.ap-button-default:disabled,
.ap-button-primary:disabled,
.ap-button-secondary:disabled,
.ap-button-success:disabled,
.ap-button-warning:disabled,
.ap-button-danger:disabled{
    background-color: $button-disabled-background;
    color: $button-disabled-color;
    border: 1px solid $button-disabled-border-color;

    &:hover, &:focus{
        background-color: $button-disabled-background;
        color: $button-disabled-color;
        border: 1px solid $button-disabled-border-color;
    }
}


/* Style modifiers
   ================================================== */

@include create-modifiers-with-selectors(background, button);
@include create-outline-modifiers-with-selectors(button);



/* Slide modifiers
   ================================================== */
.ap-button{
    position: relative;
}

.ap-button-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    transition: top 0.25s ease-in-out;
    background-color: #000000;

    animation-name: button-wave-effect;
    animation-duration: 0.8s;
}

@keyframes button-wave-effect{
    0%{
        top: 100%;
        opacity: 0.05;
    }

    50%{
        top: 0;
        opacity: 0.1;
    }

    100%{
        top: 0;
        opacity: 0;
    }
}


/* Size Style modifiers
   ================================================== */

.ap-button-small{
    padding: 0 $button-small-padding-horizontal;
    line-height: $button-small-line-height;
    font-size: $button-small-font-size;
}

.ap-button-large{
    padding: gutter(xsmall) $button-large-padding-horizontal;
    line-height: $button-large-line-height;
    font-size: $button-large-font-size;
}

.ap-button-wide{
    padding: 0 $button-large-padding-horizontal;
}



/* Text Button
   ================================================== */

.ap-button-text{
    /* 1 */
    padding: 0;
    line-height: $button-text-line-height;
    background: none;
    border: none;
    /* 2 */
    color: inherit;
}

/* Disabled */
.ap-button-text-default:disabled,
.ap-button-text-primary:disabled,
.ap-button-text-secondary:disabled,
.ap-button-text-success:disabled,
.ap-button-text-warning:disabled
.ap-button-text-danger:disabled{
    color: $button-text-disabled-color;
    cursor: not-allowed;

    &:hover,
    &:focus{
        color: $button-text-disabled-color;
        cursor: not-allowed;
    }
}


/* Text Button Modifier
   ================================================== */

@include create-modifiers-with-selectors(text, button);



/* Link Button
   ================================================== */

/*
 * Link
 * 1, Reset
 * 2. Style
 */

.ap-button-link{
    /* 1 */
    padding: 0;
    line-height: $button-link-line-height;
    background: none;
    /* 2 */
    color: $button-link-color;
}

/* Hover + Focus */
.ap-button-link:hover,
.ap-button-link:focus{
    color: $button-link-hover-color;
    text-decoration: $button-link-hover-text-decoration;
}

/* Disabled */
.ap-button-link:disabled{
    color: $button-link-disabled-color;
    text-decoration: none;
}



/* Group
   ================================================== */

/*
 * 1. Using `flex` instead of `inline-block` to prevent whitespace between child elements
 * 2. Behave like button
 * 3. Create position context
 */

.ap-button-group{
    /* 1 */
    display: inline-flex;
    /* 2 */
    vertical-align: middle;
    /* 3 */
    position: relative;

    background-color: #F9F9F9;
    border-radius: 100px;
}

.ap-button-group * {
    border-color: transparent;
}

.ap-button-group button.ap-button-default{
    background-color: transparent;
}

.ap-button-group button{
    border-radius: 100px;
}


/* Ghost
   ================================================== */

.ap-button-ghost{
    background-color: transparent;
    color: color(muted);
    border: 1px dashed color(muted);
}

.ap-button-ghost:hover,
.ap-button-ghost:focus{
    color: color(default);
    border-color: color(default);
}

.ap-button-full-rounded {
    border-radius: 100px;
}

.ap-button-semi-rounded {
    border-radius: 18px;
}


/* Icon
   ================================================== */
.ap-button-icon{
    padding: 0;
    height: $button-line-height;
    width: $button-line-height;
}

.ap-upload-label-button {
    margin: 0;
    border: none;
    border-radius: border(border-radius);
    overflow: visible;
    font: inherit;
    color: color(primary);
    border: 1px solid color(primary);
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 gutter(small);
    vertical-align: middle;
    font-size: font(font-size);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.ap-upload-label-button:hover{
    color: darken(color(primary), 10%);
    border-color: darken(color(primary), 10%);
}

.ap-upload-area {
    background-color: #ECECEC;
    min-height: 150px;
    text-align: center;
    padding: 25px 25px;
}