.ql-editor {
    min-height: 400px !important;
}

.ql-align-justify {
    text-align: justify !important;
}

.ql-align-center {
    text-align: center !important;
}

.ql-align-right {
    text-align: right !important;
}

.ql-indent-1 {
    padding-left: 3em !important;
}

.ql-indent-2 {
    padding-left: 6em !important;
}

.ql-indent-3 {
    padding-left: 9em !important;
}

.ql-indent-4 {
    padding-left: 12em !important;
}

.ql-indent-5 {
    padding-left: 15em !important;
}

.ql-indent-6 {
    padding-left: 18em !important;
}

.ql-indent-7 {
    padding-left: 21em !important;
}

.ql-indent-8 {
    padding-left: 24em !important;
}

.ql-indent-9 {
    padding-left: 27em !important;
}

.ql-editor h1 {
    font-size: 32px !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.ql-editor h2 {
    font-size: 24px !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.ql-editor h3 {
    font-size: 18.72px !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.ql-editor h4 {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.ql-editor h5 {
    font-size: 13.28px !important;
    font-weight: 500 !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}

.ql-editor h6 {
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}