// Name:            Width
// Description:     Component to create boxed content containers
//
// Component:       `ap-child-width-*`
//                  `ap-width-*`
//                  `ap-width-fit-content`
//
// ========================================================================


/* ==================================================
    Component: Width
   ================================================== */ 


/* Equal child widths
   ================================================== */

   @include create-child-width-with-breakpoints;



   /* Single widths
      ================================================== */
   
   @include create-width-with-breakpoints;
   
   
   
   /* Pixel based widths
      ================================================== */
   
   @include create-width-pixel-based;
   
   
   
   /* Fit Content
      ================================================== */
   
   .ap-width-fit-content{
       width: fit-content;
   }
   
   [class*="ap-width"]{
       transition: all 0.3s ease-in;
   }